@page
@model adminareaModel
@{
    ViewData["Title"] = "adminarea";
}
<h1 style="color:red" ; font-style: italic; font-size: medium; font-weight: 700">
    Admin Area
</h1>
<br />
<br />
<div class="row col-sm 1">
    <a asp-page="Create_Account" class="btn btn-primary btn-large">Create_Account</a>

</div>
<br />
<div class="row col-sm 1">
    <a asp-page="Role_Account" class="btn btn-primary btn-large">Roles</a>

</div>